
@using webapiapp.Models;
@{

    int NumLinea = 1;
}


<div class="col-lg-12">
    <h4>
        Lista de Citas
    </h4>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Fecha <br /> Creacion</th>
                <th scope="col">Nombre  <br /> Paciente</th>
                <th scope="col">Fecha <br /> Cita</th>
                <th scope="col">Hora de Cita</th>
                <th scope="col">Hora Fin Cita</th>
                <th scope="col">Estado</th>
                <th scope="col">Servicio Medico por</th>
                <th scope="col">Direccion</th>
                <th scope="col">Nota</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IList<Appointments_medicalDTO>)ViewBag.ListaCitas)
            {
            <tr>
                <td>@NumLinea</td>
                <td>@item.EntityID</td>
                <td>@item.RequestDate.ToShortDateString()</td>
                <td>@item.Patient.FullName</td>
                <td>@item.Scheduleddate.ToShortDateString()</td>
                <td>@item.Scheduledhour</td>
                <td>@item.Scheduledhourend</td>
                <td>
                    @switch (item.Status)
                    {
                        case nStatus.Pendiente:
                            {
                                <span class="label label-info">Pendiente</span>
                                break;
                            }
                        case nStatus.Enprogreso:
                            {
                                <span class="label label-primary">En progreso</span>
                                break;
                            }
                        case nStatus.Cancelada:
                            {
                                <span class="label label-warning">Cancelada</span>
                                break;
                            }
                        case nStatus.Finalizada:
                            {
                                <span class="label label-success">Finalizada</span>
                                break;
                            }
                    }
                </td>
                <td>@item.Medicalservice</td>
                <td>@item.Address</td>
                <td>@item.Comments</td>
                <td>
                    <a class="btn btn-sm Show-modallobipanel" data-toggle="tooltip" data-placement="top" title="Editar Cita"
                       data-title="Editar Cita" data-width="40%" data-height="90%" href="@Url.Action("ShowEditarCita", "Home", new { k=item.EntityID})">
                        <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm Show-modallobipanel" data-toggle="tooltip" data-placement="top" title="Ver Anexos"
                       data-title="Lista de Anexos" data-width="40%" data-height="40%" href="@Url.Action("ShowListarAnexo", "Home", new { k=item.EntityID})">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm Show-modallobipanel" data-toggle="tooltip" data-placement="top" title="Agregar Anexo"
                       data-title="Agregar Anexo" data-width="700px" data-height="700px" href="@Url.Action("ShowAddAnexo", "Home", new { k = item.EntityID })">
                        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
                NumLinea++;
            }

        </tbody>
    </table>
</div>